.course img{
    border: 3px solid rgb(202, 228, 59);
    
}
.course img:hover{
    transform: scale(1.001);
}
.educationcontent{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
  }
  .educationcontentdegree,.educationcontent12{
    border-right: 3px solid #0BCEAF;
    padding-right: 100px;
  }
  .educationcontent h1{
    color: #0BCEAF;
    font-size: 30px;
  }
  .educationcontent p{
    font-size: 20px;
    line-height: 40px;
  }
  #perc{
    color: #0BCEAF;
    font-size: 20px;
    font-weight: 900;
  }